.eight-ball-text {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
}

/* .text-div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  } */